.App {
  text-align: center;
}

.prods:focus{
  background-color: #a6ff4d !important;
  border-color: #a6ff4d !important;
  color:black !important;
}

.cardMain{
  box-shadow: 0px 0px 3px rgba(132, 136, 136, 0.342) !important;
}

.cardInner{
  box-shadow: 0px 0px 3px rgba(132, 136, 136, 0.342) !important;
}